
<link rel="stylesheet" href="~/css/home/index.css">
<div class="container text-center">
            <a class='btn btn-warning btn-lg p-3 m-3 font-weight-bold' asp-controller="Product" asp-action="AddProduct">
                Add New Product <i class='fas fa-plus-square p-2 fa-1x'></i>     
            </a>
</div>
<br /><br /><br /><br />
  <section class="section-products">
		<div class="container">
				<div class="row">
						<div id="myproducts_card_holder" class="col-md-6 col-lg-4 col-xl-3">
								
						</div>
				</div>
		</div>
</section>
<script src="~/js/template/myProductItemCard.js"></script>
<script>
	window.addEventListener('load',()=>{
			$('#myproducts_card_holder').html(renderProductItemCard('Shoe','49.99','/uploads/18b0b41f-2e41-4a73-b64e-3ede3cd1c34a.png'));
		});

</script>