
<div class="container text-center">
    <h1>Recent Products</h1>
           @* <a asp-controller="Product" asp-action="AddProduct" class='btn btn-warning btn-lg p-3 m-3 font-weight-bold'>
                Add New Product <i class='fas fa-plus-square p-2 fa-1x'></i>     
            </a>*@
</div>
<br /><br /><br /><br />



