
<div class="container-fluid">
    <h1 class="text-center">Order</h1>
    <hr style="width: 60%; margin-left: auto; margin-right: auto;" />
    <div class="container">
        <div class="card-body">
            <div class="card">
                <table class="table table-striped">
                    <thead class="thead">
                        <tr>
                            <th>Order Id</th>
                            <th>Product Name</th>
                            <th>Buyer Name</th>
                            <th>Mobile Number</th>
                            <th>Delivery Address</th>
                            <th>Quantity Amount</th>
                            <th>State</th>
                            <th>Type</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                      
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="row">
                                    <div class="col-3">
                                        <a href="" class="btn btn-info">Ship</a>
                                    </div>
                                    <div class="col-4">
                                        <a href="" class="btn btn-info">Deliver</a>
                                    </div>
                                    <div class="col-3">
                                        <a href="" class="btn btn-info">Cancell</a>
                                    </div>
                                </div>
                            </td>
                            
                        </tr>
                          
            
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>