 <center>
        <div class="container" style="width:500px;">
            <h1>PROFILE</h1>
            <form data-ajax="true" asp-action="Signup" asp-controller="UserApi">
                <div class="row">
                    <div class="col-7"><input class="form-control" type="hidden" name="id" value="" /></div>
                </div><br />
                <div class="row">
                    <div class="col-5"><label> Name:</label></div>
                    <div class="col-7"><input class="form-control" type="text" name="name" value="" /></div>
                </div><br />
                <div class="row">
                    <div class="col-5"><label>Address:</label></div>
                    <div class="col-7"><input class="form-control" type="text" name="address" value="" /> </div>
                </div><br />
                <div class="row">
                    <div class="col-5"><label>Mobile Number:</label></div>
                    <div class="col-7"><input class="form-control" type="text" name="mobilenumber" value="" /> </div>
                </div><br />
                <div class="row">
                    <div class="col-5"><label>Pan Number:</label></div>
                    <div class="col-7"><input class="form-control" type="text" name="pannumber" value="" /> </div>
                </div><br />
                <input class="btn btn-primary" type="submit" value="EDIT" name="edit" />
            </form>
        </div>
    </center>

