@model AgroMarket.ViewModel.User.UserLoginViewModel;
<link rel="stylesheet" href="~/css/account/login/loginform.css">
<div class="wrapper">
  <form class="form-signin" data-ajax="true" data-ajax-url="@Url.Action("")">
    <h2 class="form-signin-heading text-center">Login Form</h2>
    @Html.TextBoxFor(a => a.MobileNumber, new {@class = "form-control", placeholder = "Username", required = "required", autofocus = "autofocus"})
    @Html.PasswordFor(a => a.Password, new {@class = "form-control", placeholder = "Password", required = "required"})
    <button class="btn btn-lg btn-primary btn-block text-center">Login</button>
  </form>
</div>