 
<center>
        <div class="container" style="width:500px;">
            <h1>PROFILE</h1>
            <form data-ajax="true" asp-action="Profile" asp-controller="UserApi">
                <div class="row">
                    <div class="col-7"><input class="form-control" type="hidden" name="id" value="" /></div>
                </div><br />
                <div class="row">
                    <div class="col-5"><label> Name:</label></div>
                    <div class="col-7"><input class="form-control" type="text" name="name" value="" /></div>
                </div><br />
                <div class="row">
                    <div class="col-5"><label>Address:</label></div>
                    <div class="col-7"><input class="form-control" type="text" name="address" value="" /> </div>
                </div><br />
                <div class="row">
                    <div class="col-5"><label>Mobile Number:</label></div>
                    <div class="col-7"><input class="form-control" type="text" name="mobilenumber" value="" /> </div>
                </div><br />
                <div class="row">
                    <div class="col-5">
                        <input class="btn btn-primary" type="submit" value="EDIT" name="edit" />
                    </div>
                    <div class="col-5">
                        <input class="btn btn-primary" type="submit" data-bs-toggle="modal" data-bs-target="#myModal" value="Become a Farmer?" name="edit" />
                    </div>
                </div>
            </form>
        </div>
</center><br /><br /><br />

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Farmer Form</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <form class="form-signin" data-ajax="true" data-ajax-url="@Url.Action("MakeFarmer","UserApi")" method="post" data-ajax-begin="onLoginBegin" data-ajax-complete="onLoginComplete">
            <input type="text" class="form-control" placeholder="Pan Number" required="required" />
            <button id="login-submit-button" class="btn btn-lg btn-primary btn-block text-center">Insert</button>
          </form>
        
      </div>
    </div>
  </div>
</div>



<div class="container text-center">
    <h3>Recent Products</h3>
    
</div>
<br />

  <div class="row">
@*
       @{
                int a = 1;
            }
            @foreach (var product in ViewBag.indoor)
            {*@
                <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="" class="rounded-circle" alt="sneha">
                                    <h5 class="mt-3 mb-1"></h5>
                                    <p class="m-0">Price: Rs. </p>
                                  
                                </div>
                            </div>
                        </div>
                        </div>
            @*        
                a++;
            }*@
                </div>


