
<link rel="stylesheet" href="~/css/account/login/loginform.css">
<div class="wrapper">
  <form class="form-signin">
    <h2 class="form-signin-heading text-center">SignUp Form</h2>
     <input type="text" class="form-control" name="name" placeholder="Your Name" required="required" />
    <input type="text" class="form-control" name="username" placeholder="Email Address" required="required" />
    <input type="text" class="form-control" name="address" placeholder="Address" required="required" />
     <input type="number" class="form-control" name="mobilenumber" placeholder="Mobile Number" required="required" />
      <input type="number" class="form-control" name="pannumber" placeholder="Pan Number" required="required" />
       <input type="password" class="form-control" name="password" placeholder="Password" required="required" />
    <button class="btn btn-lg btn-primary btn-block text-center">Sign Up</button>
  </form>

</div>
